<section id="forgot-password">
<div class="page-header">
<h1>Resend confirmation instructions</h1>
</div>
<div class="row">
<div class="span4">
<p>
Enter your email and we'll re-send your confirmation
code.
</p>


<%= render :partial => "devise/shared/links" %>

</div>
<div class="span12">
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.email_field :email, :class => "span3" %>
    </div>
  </div>

  <div class="actions"><%= f.submit "Resend confirmation instructions", :class => "btn primary" %></div>
  </fieldset>
<% end %>

</div>
</div>
</section>
