<%= form_for(@metric) do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :showdate %><br />
    <%= f.datetime_select :showdate %>
  </div>
  <div class="field">
    <%= f.label :menu %><br />
    <%= f.text_field :menu %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :metric %><br />
    <%= f.text_field :metric %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
