<!DOCTYPE html>
<html>
<head>
  <title>Qrcode</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to('Mobile Menu', menus_path, :class => 'brand') %>
          <ul class="nav">
            <li <%= action_name == 'index' ? "class='active'" : ''%>><%= link_to('Menus', menus_path)%></li>
            <li>
                <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                <% else %>
                  <%= link_to('Login', new_user_session_path)  %>  
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <% if notice %>
        <div class="row notice" data-alert="alert">
          <p class="span16">
            <div class="alert-message block-message warning">
              <a class="close" href="#">×</a>
              <%= notice %>
            </div>
          </p>
        </div>
        <script type="text/javascript">
          $(function() {
            $('.notice').alert();
          });
        </script>
      <% end %>
      <% if alert %>
      <div class="row alert" data-alert="alert">
        <p class="span16">
          <div class="alert-message block-message error">
            <a class="close" href="#">×</a>
            <%= alert %>
          </div>
        </p>
      </div>
        <script type="text/javascript">
          $(function() {
            $('.alert').alert();
          });
        </script>
      <% end %>

      <%= yield %>

      <footer>
        <p>Created by <a href="http://www.newworkaustin.com/">New Work Austin</a> with funding from the Mellon Foundation</p>
      </footer>

    </div>
</body>
</html>
